*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/

*.csproj
*.sln
*/.vs
*/Logs
.DS_Store
*/.lpproj
*/.idea
*/.vscode

*/UserSettings
*/*.user

# Project
*/IgnoreAssets/



# Gradle cache directory
.gradle/


# Builds
*.apk
*.unitypackage

# 本地Bundle 构建
*/AssetBundles/

